<!doctype html>
<html>
    <head>
        <title>EECS 4080: Online Platform for Social Media Mining</title>
        <link href="{{ url_for('static', filename='css/style.scss.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <div id="title">
                <h1>EECS 4080: Online Platform for Social Media Mining</h1> 
                <h3>Data Cleaning</h3>
                <p>The collected raw data will be go throught basic cleaning, location extraction (SpaCy), Geotagging(GeoPy) and translation (Google Translation API)</p> 
            </div>

            <p>The following is a snippet of the clean data file with extracted location and translation.</p>
            <div id="output">
                {% for table in tables %}
                    {{titles[loop.index]}}
                    {{ table|safe }}
                {% endfor %}
            </div>

            <p>Here are the clean: </p>
            {% for file in files %}
                <a href="{{ url_for('download_clean', filename=file) }}">{{ file }}</a>
            {% endfor %}

            <div class="btn-container">
                <form method="GET" action="{{ url_for('analysis') }}" enctype="multipart/form-data">
                    {% if fileLen > 0 %}
                        <button type="submit">Step 4: Analysis </button>
                    {% else %}
                        <button type="submit" disabled>Step 4: Analysis  </button>
                    {% endif%}
                </form>
            </div>

        </div>

        
    </body>
</html>